.cl {
    background-color: $wp-blue;
    height          : 120px;
    width           : 100%;

    .boxEvent-1 {
        display         : inline-block;
        width           : 49%;
        float           : left;
        height          : 60px;
        background-color: antiquewhite;
        margin          : 0 3px 0 0px;
        border          : solid $dark-silver-gray;
        overflow        : hidden;
    }

    .boxEvent-2 {
        display         : inline-block;
        width           : 49%;
        float           : right;
        height          : 60px;
        background-color: rgb(126, 82, 25);
        margin          : 0 0 0 3px;
        border          : solid $dark-silver-gray;
        overflow        : hidden;
    }

    .todayEvent {
        display    : inline-block;
        padding    : 7px 0 0 10px;
        width      : 50%;
        font-weight: 700;
    }

    .todaysEvents {
        padding    : 10px;
        display    : inline-block;
        width      : 50%;
        float      : right;
        line-height: 20px;
        color      : $base-gray;
        -webkit-animation-name: move;
    	-webkit-animation-duration: 20s;
    	-webkit-animation-iteration-count: infinite;
    	-webkit-animation-timing-function: linear;
    }
    .todaysEvents:hover {
    	-webkit-animation-play-state: paused;
    }

    @-webkit-keyframes move {
    	0% {
    		margin-top: -60px;
    	}
    	100% {
    		margin-top: 10px;
    	}
    }

    .nearestEvent {
        font-weight: 700;
        display    : inline-block;
        padding    : 7px 0 0 10px;
        width      : 50%;
    }

    .nearestEvents {
        padding    : 10px;
        display    : inline-block;
        width      : 50%;
        float      : right;
        line-height: 20px;
        color      : $base-gray;
       	-webkit-animation-name: move;
    	-webkit-animation-duration: 20s;
    	-webkit-animation-iteration-count: infinite;
    	-webkit-animation-timing-function: linear;
    }
    .nearestEvents:hover {
    	-webkit-animation-play-state: paused;
    }

    @-webkit-keyframes move {
    	0% {
    		margin-top: -60px;
    	}
    	100% {
    		margin-top: 10px;
    	}
    }

}