/** @format */

.site-footer {
  margin         : 40px 0 0 0;
  display        : flex;
  justify-content: center;
  align-items    : flex-end;
  flex-direction : row-reverse;

  .dropdown {
    position: relative;
    display : inline-block;

    .dropbtn {
      text-transform : uppercase;
      text-decoration: none;
      font-weight    : bold;
      color          : black;
      padding        : 16px;
      font-size      : 16px;
      border         : none;
    }

    .dropdown-content {
      display         : none;
      margin-top      : 20px;
      margin-left     : 10px;
      position        : absolute;
      background-color: $white;
      min-width       : 100px;
      box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index         : 1;

      a {
        color          : black;
        padding        : 12px 16px;
        text-decoration: none;
        display        : block;
      }
    }
  }
}

.footerContainer {
  display        : flex;
  justify-content: center;

  .topContainer {
    width: 100px;

    div {
      margin-bottom: auto;
      margin       : 40px 0 0 8px;
    }
  }
}


@media (max-width: 880px) {
  .customize-support {
    footer {
      display  : flex;
      flex-wrap: wrap;

      .dropdown {
        .dropbtn {
          line-height: 30px;
        }

        .dropbtn:hover {
          color: crimson;
        }
      }
    }
  }
}