.homeNewsContainer{
	display: inline-block;
	width: 100%;
	height: 60%;
	.newsInternalContainer{
		display: inline-block;
		width: 280px;
		height: 100%;
		.homeNewsDate{
			margin: 18px 0 5px 0; 
		    white-space: nowrap;
    		overflow: hidden;
    		width: 75px;    		
		}
		a{
			text-decoration: none;
			color: black;
			font-weight: 600;
		}
		img{
			height: 200px;
			width: 100%;
		}
	}
	.newsInternalContainer:nth-child(2){
		margin: 0 0 0 18px; 
	}
		.newsInternalContainer:nth-child(3){
		margin: 0 18px 0 18px; 
	}

}
.imgBlock{
	position:relative;
	.homeImgContainer{
	    position : absolute;
	    top      : 30%;
	    left     : 50%;
	    transform: translate(-50%, -50%);
	    width: 100%;
	    text-align: center;
		.welcome{
		    color: $white;
		    font: italic 1.4em "Fira Sans", serif;
    	    margin: 0 0 20px 0;
		}
		.title{
			font-family: Helvetica, sans-serif;
			text-transform: uppercase;
			color: $white;
			line-height: 40px;
			font-size: 35px;
			margin: 10px 0 0  0;
			letter-spacing: 2px;
			font-weight: bolder;
		}
		.filosofyBtn{
			font-weight: bolder;
			text-transform: uppercase;
			margin: 40px 0 0 0 ;
			border: 2px solid $white;
			padding: 28px;
			font-size:14px;
			color: $white;
			letter-spacing: 1px;
			width: 210px;
		    position : absolute;
		    top      : 130%;
		    left     : 50%;
		    transform: translate(-50%, -50%);
		    cursor   : pointer;
		}
	}
}
