.grid-container {
  .pic {
    .imageBox {
      .lightbox {
        border-radius: 2%;
        transition   : transform .2s;
      }

      .lightbox:hover {
        transform: scale(1.5);
      }
    }
  }
}

